@charset "UTF-8";
@font-face {
    font-family: 'computerist';
    src: url('fonts/Computerist.ttf') format('truetype');
}

@font-face {
    font-family: 'new hope';
    src: url('fonts/NewHope.ttf') format('truetype');
}






* {
    max-width: 100%;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
}

.menu {
    height: 25px;
    width: 25px;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    font-family: new hope;
    font-weight: 10;
    color: white;
    font-size: 95pt;
    align-self: center;
    max-width: 480px;
}

h2 {
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.logButton {
    padding: 10px;
    width: 150px;
    height: 50px;
    background-color: #fc9611;
    align-content: center;
    font-size: 20pt;
    border-radius: 40px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.151);
}

.logButton > p {
    margin: 0;
}

body {
    height: 97vh;
    background-image: linear-gradient(to right,
     #897F87,
     #D39B50 40%,
     #D39B50 80%,
     #897F87);
}

#verse {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
    padding: 10px;
    font-size: 27pt;
    margin: 15px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
}

.image {
    background-image: url(images/jerusalem.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: left top;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.377);
}

.why {
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    font-size: 21pt;
    margin-bottom: 90px;
}

.imgWhy > img {
    width: 100px;
    height: 100px; 
}

#whyImages {
    display: flex;
    justify-content: center;
    margin: 40px;
    gap: clamp(40px, 20vw, 300px);
}

.WhyCaption {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 23pt;
    gap: clamp(30px, 7vw, 300px);
}