@charset "UTF-8";
@font-face {
    font-family: 'computerist';
    src: url('fonts/Computerist.ttf') format('truetype');
}

@font-face {
    font-family: 'new hope';
    src: url('fonts/NewHope.ttf') format('truetype');
}





* {
    max-width: 100%;
    margin: 0;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f8ff;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
}

#menuPage {
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 100vh;

    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#menuButton {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    padding: 5px;
    z-index: 1100;
    cursor: pointer;

    transition: transform 0.3s ease;
}

#menuButton:hover {
    width: 27px;
    height: 27px;
    background-color: rgba(255, 255, 255, 0.098);
    border-radius: 10px;
}

#menuButton.open {
    transform: translateX(250px);
}

#menuPage.open {
    transform: translateX(0);
}

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3 ease;
    z-index: 900;
}

#overlay.show {
    opacity: 1;
    pointer-events: all;
}

.menuVersus {
    font-family: new hope;
    width: 100px;
    font-size: 17pt;
    padding-top: 7px;
    padding-left: 7px;
    cursor: pointer;
}

.homeOp {
    display: flex;
    font-family: new hope;
    margin-top: 35px;
    margin-left: 20px;
    cursor: pointer;

    transition: transform 0.2 ease;
}

.homeOp > p {
    padding-top: 11px;
}

.homeOp > img {
    height: 20px;
    width: 20px;
    padding: 5px;
}

.homeOp:hover {
    background-color: rgba(0, 0, 0, 0.19);
    border-radius: 7px 0px 0px 7px;
    transform: scale(1.05) translate(-3px, -3px);
}

#versus {
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: new hope;
    font-weight: 10;
    background: linear-gradient(
                #23E835,
                #1E3A8A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
        0 0 90px #23E835;
    font-size: 67pt;
    align-self: center;
    width: 100%;
}

h2 {
    margin-bottom: 30px;
    color: #f0f8ff;
}

.buttons {
    display: flex;
    gap: 20px;
}

.logButton {
    padding: 10px;
    width: 120px;
    height: 40px;
    color: #f0f8ff;
    align-content: center;
    font-size: 18pt;
    border-radius: 45px;
    box-shadow: 1px 1px 1px 1px rgba(142, 141, 141, 0.151);
    border: 3px solid transparent;
    background: 
        linear-gradient(#1A1A1A, #1A1A1A) padding-box,
        linear-gradient(to right, #23E835, #1E3A8A) border-box;
    cursor: pointer;

    transition: transform 0.2 ease;
}

.logButton:hover {
    transform: scale(1.07) translate(-3px, -3px);
    filter:
    drop-shadow(0 7px 12px #2431bd71);
}

.logButton > p {
    margin: 0;
}

body {
    height: 97vh;
    background-image: linear-gradient(to right, #1A1A1A);
}

#verse {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
    padding: 10px;
    font-size: 27pt;
    margin: 15px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
}

.image {
    background-image: url(images/jerusalem.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: left top;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.377);
}

.why {
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    font-size: 21pt;
    margin-bottom: 90px;
}

.whyImages > img {
    margin-bottom: 40px;
    width: 100px;
    height: 100px; 
}

.WhyCaption {
    margin-top: 15px;
    font-size: 18pt;
}

.whyImages,
.WhyCaption {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    justify-items: center;
    text-align: center;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}