@charset "UTF-8";
@font-face {
    font-family: 'computerist';
    src: url('fonts/Computerist.ttf') format('truetype');
}

@font-face {
    font-family: 'new hope';
    src: url('fonts/NewHope.ttf') format('truetype');
}





* {
    max-width: 100%;
    margin: 0;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
}

#menuPage {
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 932px;

    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#menuButton {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    z-index: 1100;
    cursor: pointer;

    transition: transform 0.3s ease;
}

#menuButton.open {
    transform: translateX(250px);
}

#menuPage.open {
    transform: translateX(0);
}

.menuVersus {
    font-family: new hope;
    width: 100px;
    font-size: 17pt;
    padding-top: 7px;
    padding-left: 7px;
    cursor: pointer;
}

.homeOp {
    display: flex;
    font-family: new hope;
    margin-top: 35px;
    margin-left: 20px;
    cursor: pointer;
}

.homeOp > p {
    padding-top: 6px;
}

.homeOp > img {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

#versus {
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: new hope;
    font-weight: 10;
    color: white;
    font-size: 67pt;
    align-self: center;
    width: 100%;
}

h2 {
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.logButton {
    padding: 10px;
    width: 120px;
    height: 40px;
    background-color: #fc9611;
    align-content: center;
    font-size: 18pt;
    border-radius: 40px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.151);
    cursor: pointer;
}

.logButton > p {
    margin: 0;
}

body {
    height: 97vh;
    background-image: linear-gradient(to right,
     #897F87,
     #D39B50 40%,
     #D39B50 80%,
     #897F87);
}

#verse {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
    padding: 10px;
    font-size: 27pt;
    margin: 15px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
}

.image {
    background-image: url(images/jerusalem.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: left top;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.377);
}

.why {
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    font-size: 21pt;
    margin-bottom: 90px;
}

.whyImages > img {
    margin-bottom: 40px;
    width: 100px;
    height: 100px; 
}

.WhyCaption {
    margin-top: 15px;
    font-size: 18pt;
}

.whyImages,
.WhyCaption {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    justify-items: center;
    text-align: center;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}