@charset "UTF-8";
@font-face {
    font-family: 'computerist';
    src: url('fonts/Computerist.ttf') format('truetype');
}

@font-face {
    font-family: 'new hope';
    src: url('fonts/NewHope.ttf') format('truetype');
}





* {
    max-width: 100%;
    margin: 0;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f8ff;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: inherit;
}

a:active {
  color: inherit;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
}

#menuPage {
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(77, 77, 77);
    width: 250px;
    height: 100vh;

    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#menuButton {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    padding: 5px;
    z-index: 1100;
    cursor: pointer;

    transition: transform 0.3s ease;
}

#menuButton:hover {
    width: 27px;
    height: 27px;
    background-color: rgba(255, 255, 255, 0.098);
    border-radius: 10px;
}

#menuButton.open {
    transform: translateX(250px);
}

#menuPage.open {
    transform: translateX(0);
}

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3 ease;
    z-index: 900;
}

#overlay.show {
    opacity: 1;
    pointer-events: all;
}

.menuVersus {
    font-family: new hope;
    width: 100px;
    font-size: 17pt;
    padding-top: 10px;
    padding-left: 7px;
    cursor: pointer;
    background: linear-gradient(
                #23E835,
                #1E3A8A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
        0 0 90px #23E835;
    font-size: 19pt;
    align-self: center;
}

.menuVersus:active {
    transform: scale(0.95);
}

.homeOp {
    display: flex;
    font-family: new hope;
    margin-top: 35px;
    margin-left: 20px;
    cursor: pointer;

    transition: transform 0.4 ease, box-shadow 0.1 ease;
}

.homeOp > p {
    padding-top: 11px;
    padding-left: 3px;
    color: white;
}

.homeOp > img {
    height: 20px;
    width: 20px;
    padding: 5px;
    filter: invert(1);
}

.homeOp:hover {
    background-color: rgba(0, 0, 0, 0.19);
    border-radius: 7px 0px 0px 7px;
    transform: scale(1.05) translate(-3px, -3px);
}

.homeOp:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
}

.playQuiz, 
.myJourney,
.dailyQuests, 
.versusMode,
.ranking {
    display: flex;
    font-family: new hope;
    margin-top: 5px;
    margin-left: 20px;
    cursor: pointer;

    transition: transform 0.2 ease, box-shadow 0.2 ease;
}

.playIcon,
.mapIcon,
.targetIcon,
.duelIcon,
.trophyIcon {
    height: 20px;
    width: 20px;
    padding: 5px;
    padding-left: 3px;
}

.playTxt, 
.questsTxt,
.versusTxt,
.rankingTxt {
    padding-top: 11px;
    color: white;
}

.playQuiz:hover {
    background-color: rgba(0, 0, 0, 0.19);
    border-radius: 7px 0px 0px 7px;
    transform: scale(1.05) translate(-3px, -3px);
}

.playQuiz:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
}

.journey {
    padding-top: 12px;
    padding-left: 1px;
    color: white;
}

.myJourney:hover {
    background-color: rgba(0, 0, 0, 0.19);
    border-radius: 7px 0px 0px 7px;
    transform: scale(1.05) translate(-3px, -3px);
}

.myJourney:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
}

.dailyQuests:hover {
    background-color: rgba(0, 0, 0, 0.19);
    border-radius: 7px 0px 0px 7px;
    transform: scale(1.05) translate(-3px, -3px);
}

.dailyQuests:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
}

.versusMode:hover {
    background-color: rgba(0, 0, 0, 0.19);
    border-radius: 7px 0px 0px 7px;
    transform: scale(1.05) translate(-3px, -3px);
}

.versusMode:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
}

.ranking:hover {
    background-color: rgba(0, 0, 0, 0.19);
    border-radius: 7px 0px 0px 7px;
    transform: scale(1.05) translate(-3px, -3px);
}

.ranking:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
}

#versus {
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: new hope;
    font-weight: 10;
    background: linear-gradient(
                #23E835,
                #1E3A8A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
        0 0 90px #23E835;
    font-size: 67pt;
    align-self: center;
    width: 100%;
}

h2 {
    margin-bottom: 30px;
    color: #f0f8ff;
}

.buttons {
    display: flex;
    gap: 20px;
}

.logButton {
    padding: 10px;
    width: 120px;
    height: 40px;
    color: #f0f8ff;
    align-content: center;
    font-size: 18pt;
    border-radius: 45px;
    box-shadow: 1px 1px 1px 1px rgba(142, 141, 141, 0.151);
    border: 3px solid transparent;
    background: 
        linear-gradient(#1A1A1A, #1A1A1A) padding-box,
        linear-gradient(to right, #23E835, #1E3A8A) border-box;
    cursor: pointer;

    transition: transform 0.2s ease, box-shadow 0.1s ease;
}

.logButton:hover {
    transform: scale(1.07) translate(-3px, -3px);
    filter:
    drop-shadow(0 7px 12px #2431bd71);
}

.logButton:active {
    transform: translateY(4px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.logButton > p {
    margin: 0;
}

body {
    height: 97vh;
    background-image: linear-gradient(to right, #1A1A1A);
}

.why {
    display: flex;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    font-size: 21pt;
    margin-bottom: 90px;
}

.whyVersus {
    font-family: new hope;
    font-weight: 10;
    background: linear-gradient(
                #23E835,
                #1E3A8A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
        0 0 90px #23E835;
    font-size: 30pt;
    align-self: center;
    margin-left: 7px;
    margin-right: 5px;
}

.whyImages > img {
    margin-bottom: 40px;
    width: 100px;
    height: 100px;
    filter: invert(1);
}

.WhyCaption {
    margin-top: 15px;
    font-size: 18pt;
}

.whyImages,
.WhyCaption {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    justify-items: center;
    text-align: center;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}


/* QUIZ SCREEN */


#modeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    transform: translateY(35vh);
}

.mode {
    display: flex;
    flex-direction: column;
    background-color: #0c0c0c;
    height: 200px;
    width: 90%;         /*RESPONSIVIDADE */
    max-width: 580px;   /*RESPONSIVIDADE */
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px rgba(142, 141, 141, 0.151);
    border: 3px solid transparent;
    background: 
        linear-gradient(#1A1A1A, #1A1A1A) padding-box,
        linear-gradient(#23E835, #1E3A8A) border-box;

    filter:
    drop-shadow(0 7px 12px #2431bd71);
}

.selectMode {
    font-weight: 10;
    text-align: left;
    font-family: new hope;
    margin-bottom: 50px;

    background: linear-gradient(
                #23E835,
                #1E3A8A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
        0 0 90px #23E835;
    font-size: 30pt;
}

.modeBut {
    display: flex;
    gap: 23px;
    width: 100%;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 4px;
}

.easyMode,
.midMode,
.hardMode,
.blessedMode {
    font-size: 14pt;
    padding: 5px;
    align-content: center;
    width: 103px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px rgba(142, 141, 141, 0.151);
    border: 3px solid transparent;
    background: 
        linear-gradient(#1A1A1A, #1A1A1A) padding-box,
        linear-gradient(to right, #23E835, #1E3A8A) border-box;
    cursor: pointer;

    transition: transform 0.2s ease, box-shadow 0.1s ease;
}

.easyMode:hover,
.midMode:hover,
.hardMode:hover,
.blessedMode:hover {
    transform: scale(1.07) translate(3px, -3px);
    filter:
    drop-shadow(0 7px 12px #2431bd71);
}

.easyMode:active,
.midMode:active,
.hardMode:active,
.blessedMode:active {
    transform: translateY(4px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}



/* SIGNUP SCREEN */


#signUpBody {
    background-color: #1A1A1A;
}