@charset "UTF-8";

* {
    margin: auto;
    padding: 0;
}

#head {
    background-image: linear-gradient(to bottom, #91BECA, #FF9E91, #9C6ED7);
}

#head {
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 60px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.384);
}

#head h2 {
    padding-top: 110px;

}

main {
    
}

#main p {
    margin-top: 50px;
    margin-left: 10px;
}